@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.auth {
    @apply md:max-w-[30rem] max-w-min relative top-7 flex w-auto min-w-[20rem] flex-col rounded-xl bg-white p-8 shadow-xl font-mono;
}
.auth-input {
    @apply border rounded-md mt-2 px-3 py-2 w-full mb-4 border-fuchsia-300;
}
.auth-button {
    @apply bg-fuchsia-500 text-white rounded-md px-3 py-2 w-full mb-4 hover:bg-fuchsia-600 cursor-pointer;
}
.auth-credentials {
    @apply text-left mb-7 text-gray-500 text-sm;
}
.auth-error {
    @apply text-left text-sm text-fuchsia-700;
}
